<div class="post-grid">
  <app-post-card *ngFor="let card of cardData" [card]="card" (click)="goToPost(card.postID)">
    <button (click)="activatePost(card.postID); $event.stopPropagation()" type="button" mat-flat-button color="warn"
      [disabled]="isLoading">
      <mat-progress-spinner *ngIf="isLoading" mode="indeterminate" diameter="20" color="accent"
        style="vertical-align: middle; margin-right: 8px"></mat-progress-spinner>
      <span *ngIf="!isLoading">Reactivate post</span>
      <span *ngIf="isLoading">Reactivating...</span>
    </button>
  </app-post-card>
</div>