<form [formGroup]="blogForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data" class="form-container">

  <mat-form-field appearance="outline">
    <mat-label>Title</mat-label>
    <input matInput formControlName="title" required />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Author</mat-label>
    <input matInput formControlName="author" required />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Date</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="date" required />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Description</mat-label>
    <textarea matInput formControlName="description" required></textarea>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Category</mat-label>
    <mat-select formControlName="category" required>
      <mat-option *ngFor="let category of categories" [value]="category.value">
        {{ category.label }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="file-inputs">
    <label>
      <p>Thumbnail image*</p>
      <input type="file" accept="image/*" (change)="onThumbnailChange($event)" required />
    </label>

    <ng-content select="[slot=thumbnailUpload]"></ng-content>

    <hr>

    <label>
      <p>Upload Files to get an URL that you can put into your markdown</p>
      <input type="file" multiple (change)="onAdditionalFilesChange($event)" />
    </label>

    <app-file-url *ngIf="additionalFiles.length > 0" [files]="additionalFiles" />

    <hr>
  </div>

  <div>
    <p>Create your post*</p>
    <angular-markdown-editor textareaId="blogPost" name="markdownText" [(ngModel)]="markdownText"
      [options]="editorOptions" [ngModelOptions]="{ standalone: true }"></angular-markdown-editor>
  </div>


  <button mat-flat-button color="primary" type="submit" [disabled]="isLoading || blogForm.invalid">
    <mat-progress-spinner *ngIf="isLoading" mode="indeterminate" diameter="20" color="accent"
      style="vertical-align: middle; margin-right: 8px;">
    </mat-progress-spinner>
    <span *ngIf="!isLoading">Submit</span>
    <span *ngIf="isLoading">Submitting…</span>
  </button>
</form>