<mat-card class="form-card-container">

  <mat-card-title>Blogpost veröffentlichen</mat-card-title>
  <mat-card-subtitle style="margin-bottom: 30px;">Fülle die Felder aus, um deinen Beitrag zu veröffentlichen.</mat-card-subtitle>

  <mat-card-content>
    <form [formGroup]="blogForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data" class="blog-form">

      <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input matInput formControlName="title" required />
        <mat-error *ngIf="blogForm.get('title')?.hasError('required') && blogForm.get('title')?.touched">
          Title ist erforderlich.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Author</mat-label>
        <input matInput formControlName="author" required />
        <mat-error *ngIf="blogForm.get('author')?.hasError('required') && blogForm.get('author')?.touched">
          Author ist erforderlich.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date" required />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="blogForm.get('date')?.hasError('required') && blogForm.get('date')?.touched">
          Datum ist erforderlich.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description" rows="3" required></textarea>
        <mat-error *ngIf="blogForm.get('description')?.hasError('required') && blogForm.get('description')?.touched">
          Beschreibung ist erforderlich.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Category</mat-label>
        <mat-select formControlName="category" required>
          <mat-option *ngFor="let category of categories" [value]="category.value">
            {{ category.label }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="blogForm.get('category')?.hasError('required') && blogForm.get('category')?.touched">
          Kategorie ist erforderlich.
        </mat-error>
      </mat-form-field>

      <div class="file-inputs">
        <label>
          <p>Thumbnail-Bild*</p>
          <input type="file" accept="image/*" (change)="onThumbnailChange($event)" required />
        </label>

        <ng-content select="[slot=thumbnailUpload]"></ng-content>

        <hr>

        <label>
          <p>Lade zusätzliche Dateien hoch, um URLs für deinen Markdown-Text zu erhalten</p>
          <input type="file" multiple (change)="onAdditionalFilesChange($event)" />
        </label>

        <app-file-url *ngIf="additionalFiles.length > 0" [files]="additionalFiles" />

        <hr>
      </div>

      <app-audio-recorder [file]="postFormData?.audio || null" (fileRecorded)="onAudioChange($event)" />

      <div class="markdown-editor-section">
        <p>Erstelle deinen Post*</p>
        <angular-markdown-editor textareaId="blogPost" name="markdownText" [(ngModel)]="markdownText"
          [options]="editorOptions" [ngModelOptions]="{ standalone: true }"></angular-markdown-editor>
      </div>

      <button mat-flat-button color="primary" type="submit" [disabled]="isLoading || blogForm.invalid">
        <mat-progress-spinner *ngIf="isLoading" mode="indeterminate" diameter="20" color="accent"
          style="vertical-align: middle; margin-right: 8px;">
        </mat-progress-spinner>
        <span *ngIf="!isLoading">Absenden</span>
        <span *ngIf="isLoading">Wird gesendet…</span>
      </button>
    </form>
  </mat-card-content>
</mat-card>